{% extends 'base.html' %}

{% block title %}
    Index page
{% endblock %}

{% block content_title %}
    Main page
{% endblock %}

{% block content %}
    <div class="col-md-offset-3 col-md-6">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate quae cumque suscipit officiis obcaecati dolore, totam corporis consequatur provident dignissimos inventore, repellat enim! Quam modi quibusdam facilis esse eligendi quasi.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab quo laboriosam rerum aliquam nihil a, consectetur vero beatae ea magnam soluta possimus autem quod sequi commodi, eum nobis odio quaerat!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero ad debitis, assumenda cumque, officiis soluta dolor doloremque maiores sunt impedit, fugit maxime, pariatur unde velit. Quod error, est dolore earum.</p>
    </div>
{% endblock %}
