{% extends 'base.html' %}

{% block title %}
    Index page
{% endblock %}

{% block content_title %}
	<style>.navbar{margin: 0 auto;}h1{margin:0 auto;margin-bottom:10%;}</style>
    <div class="text-center bg-gray-light overflow-hidden">
        <img src="{{ url_for('static', filename='src/img/hero-circuit-bg.svg') }}" class="hero-img">
    </div>
{% endblock %}

{% block content %}
    <div class="col-md-offset-3 col-md-6">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate quae cumque suscipit officiis obcaecati dolore, totam corporis consequatur provident dignissimos inventore, repellat enim! Quam modi quibusdam facilis esse eligendi quasi.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab quo laboriosam rerum aliquam nihil a, consectetur vero beatae ea magnam soluta possimus autem quod sequi commodi, eum nobis odio quaerat!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero ad debitis, assumenda cumque, officiis soluta dolor doloremque maiores sunt impedit, fugit maxime, pariatur unde velit. Quod error, est dolore earum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi velit reiciendis asperiores adipisci, quas nesciunt officia alias maiores architecto dicta perspiciatis fugit provident nam, totam iusto placeat ratione nulla id.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum beatae eum distinctio, deleniti veritatis tempora nesciunt fugiat, minima ratione! Aperiam id expedita repudiandae esse quasi ullam quo, provident eveniet, nostrum!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde debitis, porro officiis. Laudantium, id fuga dignissimos fugiat facere ullam excepturi ducimus, repellat eveniet ut unde nam praesentium atque, asperiores accusantium.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur quos iusto harum, cumque minus. Fugit eligendi saepe, nihil accusamus beatae! Reiciendis laudantium, vitae repudiandae praesentium eos ipsum dignissimos neque ea!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ipsam temporibus enim! Quidem dolor expedita obcaecati. Tempora iste odit, nihil corporis, facere minus ad quia, provident, commodi quas quibusdam iure!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit molestias natus nulla ea obcaecati eaque, est nisi hic earum asperiores similique sapiente perferendis aut totam reprehenderit ex ratione quaerat odio.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum hic sint eius, aliquid distinctio, at odit? Quia molestiae similique molestias aliquid iste dolorem maiores cupiditate, ducimus quae atque deleniti quidem.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime incidunt dignissimos corrupti, officia eum maiores nisi hic nostrum facilis voluptatum omnis delectus excepturi, id atque voluptatem. Quia recusandae in quam.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad nihil necessitatibus dolorum. Pariatur ipsam et laboriosam reprehenderit eos quam, eveniet maxime autem sequi corrupti voluptatibus atque mollitia dolore ipsum, quia!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A dicta molestias perferendis molestiae veritatis dolorum quaerat in. Esse quam eligendi odit aspernatur, beatae natus perspiciatis vel nisi quis eos qui.</p>
    </div>
{% endblock %}
